#navbar {
    background-color: #F64B6A;
}
.carousel-item {
    background-color: #F64B6A;
}
.search {
    border: 1px solid #F64B6A;
    color: #F64B6A;
}
.search::placeholder {
    color: #F64B6A;
}
#button_search {
    background-color: #F64B6A;
    color: white;
}
.paginacao {
    background-color: #F64B6A;
    color: white;
}
.adc_carrinho {
    background-color: #F64B6A;
    color: white;
}
.card-footer {
    background-color: white;
}
.btn {
    background-color: #F64B6A;
    color: white;
    font-weight: bold;
}
h5.modal-title {
    color: #F64B6A;
    font-weight: bolder;
}
label {
    color: #F64B6A;
    font-weight: bold;
}
